.scroll {
  position: relative;
  padding: .5rem 0;
}

.scroll-hide {
  display: none;
}

.bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  transition: all 0.225s linear;
}

.bottom-show {
  padding: .5rem 0;
}

.bottom-hide {
  height: 0;
  padding: 0;
  transition: all 0.225s linear;
}

.footer-wrapper {
  z-index: 5;
  width: 100%;
  background-color: #6495ed;
  color: #fff;
}

.footer {
  display: inline-block;
  @media screen and(min-width: 1024px) { //大于1201px
    width: 50rem;
  }
}

.item {
  margin-right: .5rem;
}

.mail {
  margin-right: 2rem;
}

.mail-link {
  color: #fff;
  &:hover {
    color: #333333;
  }
}

.link {
  color: #fff;
}
