.page{
  position: relative;
}
.content{
  display: inline-block;
  vertical-align: top;
  @media screen and(min-width: 1024px) {//大于1201px
    width: 50rem;
  }
}
.box{
  display: inline-block;
  vertical-align: top;
  width: 2rem;
  height: 2rem;
  @media screen and(max-width: 1200px) { //小于1200px
    width: 0;
  }
}