.page{
  position: relative;
  height: 90%;
}
.content{
  display: inline-block;
  vertical-align: top;
  @media screen and(min-width: 1024px) {
    width: 50rem;
  }
  @media screen and(max-width: 1024px) {
    width: 100%;
  }
}
.box{
  display: inline-block;
  vertical-align: top;
  width: 2rem;
  height: 2rem;
  @media screen and(max-width: 1200px) {
    width: 0;
  }
}