@import "../../define";
.wrapper{
  height: 2rem;
  width: 100%;
  background-color: #333;
}
.left{
  @media screen and(max-width: $largeScreen) {
    width: 1%;
  }
}
.breadcrumb{
  display: inline-block;
  text-align: left;
  height: 100%;
  line-height: 2rem;
  @media screen and(max-width: $largeScreen) {
    width: 98%;
    padding: 0 .2rem;
  }
}
.right{
  @media screen and(max-width: $largeScreen) {
    width: 1%;
  }
}
.title{
  width: 50%;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  @media screen and(max-width: $mediumScreen) {
    font-size: .7rem;
  }
  @media screen and(max-width: $smallScreen) {
    font-size: .7rem;
    width: 100%;
  }
}
.ul-box{
  width: 50%;
  text-align: right;
  @media screen and(max-width: $smallScreen) {
    visibility: hidden;
    opacity: 0;
    width: 0;
  }
}
.ul{
  display: inline-block;
}
.li{
  display: inline-block;
  padding-left: 1rem;
  color: #fff;
  font-size: .8rem;
  a{
    color: #fff;
    line-height: 2rem;
  }
  @media screen and(max-width: 680px) {
    padding: 0 .05rem;
    font-size: 12px;
  }
}