.wrapper{
  height: 2rem;
  width: 100%;
  background-color: #333;
}
.breadcrumb{
  display: inline-block;
  text-align: left;
  height: 100%;
  line-height: 2rem;
  width: 100%;
  @media screen and(min-width: 1024px) {
    width: 50rem;
  }
}
.title{
  display: inline-block;
  width: 50%;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  @media screen and(max-width: 680px) {
    font-size: .7rem;
  }
}
.ul-box{
  display: inline-block;
  width: 50%;
  text-align: right;
}
.ul{
  display: inline-block;
}
.li{
  display: inline-block;
  padding: 0 .5rem;
  color: #fff;
  font-size: .8rem;
  a{
    color: #fff;
    line-height: 2rem;
  }
  @media screen and(max-width: 680px) {
    padding: 0 .05rem;
    font-size: .6rem;
  }
}