.scroll {
  position: fixed;
  bottom: 2.5rem;
  right: 1rem;
  color: #fff;
  font-size: 18px;
  line-height: 43px;
  width: 45px;
  height: 45px;
  background: #6495ed;
  text-align: center;
  z-index: 100;
  cursor: pointer;
}