.icon{
  width: 1rem;
  height: 1rem;
}
.mail{
  color: #74818D;
}
.mail-link{
  font-size: 1rem;
  color: #74818D;
  transition: color 500ms ease;
  &:hover{
    color: #000;
    transition: color 500ms ease;
  }
}
.link{
  margin-right: .7rem;
  font-size: 1rem;
  color: #74818D;
  transition: color 500ms ease;
  &:hover{
    transition: color 500ms ease;
  }
}
.pop{
  display: inline-block;
  position: relative;
}
.cell{
  margin-right: 1rem;
  line-height: 1rem;
}
.mail-cell{
  margin-right: 1rem;
  line-height: 1rem;
  font-size: .8rem;
}
.osi{
  &:hover{
    color: rgb(78, 170, 76);
  }
}