.block{

}
.label{
  padding: .2rem 0;
  text-align: left;
  color: #74818D;
  cursor: pointer;
  transition: color 500ms ease;
  &:hover{
    color: #000;
    transition: color 500ms ease;
  }
}
.name-box{
  display: inline-block;
  vertical-align: middle;
  width: 50%;
}
.name{
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: .7rem;
  font-weight: 500;
}
.icon-box{
  display: inline-block;
  vertical-align: middle;
  width: .7rem;
  font-size: .7rem;
  font-weight: 400;
  text-align: left;
}
.icon{
  display: inline-block;
}
.list{
  padding-left: .2rem;
  overflow: hidden;
  transition: height 500ms ease;
}
.list-hide{
  height: 0;
}