.item {
  padding: .1rem 0 .1rem .45rem;
  font-size: .6rem;
  font-weight: 500;
  text-align: left;
}

.link {
  color: #74818D;
  transition: color 500ms ease;
  .line {
    width: 0;
    height: .1rem;
    background-color: #6495ed;
    transition: width 0.125s linear;
  }
  &:hover {
    color: #000;
    .line {
      width: 2rem;
      transition: width 0.125s linear;
    }
  }
}