.text {
  position: relative;
  margin: .5rem 0;
  padding: 3rem 5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: left;
  overflow: hidden;
  @media screen and(max-width: 680px) {
    padding: 1.5rem .5rem;
  }
}

.time {
  color: #bdbdbd;
}

.tip {
  position: absolute;
  color: #fff;
  background-color: #6495ed;
  transition: transform 0.125s linear;
  &:hover {
    transform: scale(1.25);
  }
  @media screen and(min-width: 1100px) {
    padding: .5rem .6rem;
    top: 1rem;
    right: 1rem;
  }
  @media screen and(max-width: 1100px) {
    padding: .2rem .3rem;
    top: 0;
    left: 0;
    transform:rotate(-20deg);
  }
}

.line {
  display: inline-block;
  width: 25%;
  height: .1rem;
  background-color: #eee;
}

.btn {
  padding: .5rem 1rem;
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: bold;
  border: 2px solid #6495ed;
}

.leave {
  color: #fff;
  background-color: #6495ed;
  transition: all .5s ease;
}

.over {
  background-color: #fff;
  color: #6495ed;
  transition: all .5s ease;
}