.nav{
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.ul{
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.li{
  display: inline-block;
  margin: 0 .5rem;
  text-transform: uppercase;
  @media screen and(max-width: 400px) {//大于1201px
    margin: 0 .2rem;
  }
}
.link{
  color: #333;
  div {
    height: 3px;
    background-color: #6495ed;
    width: 0;
    transition: width 0.125s linear;
  }
  &:hover{
    div{
      width: 100%;
      transition: width 0.125s linear;
    }
  }
}
.icon{
  display: inline-block;
  margin-right: .3rem;
}