@import "../../define";
.column3{
  width: 100%;
}
.left{
  position: relative;
  width: 20%;
  @media screen and(max-width: $largeScreen) {
    width: 1%;
  }
}
.center{
  position: relative;
  width: 60%;
  @media screen and(max-width: $largeScreen) {
    width: 78%;
  }
  @media screen and(max-width: $mediumScreen) {
    width: 98%;
  }
}
.right{
  position: relative;
  width: 20%;
  @media screen and(max-width: $largeScreen) {
    width: 21%;
  }
  @media screen and(max-width: $mediumScreen) {
    width: 1%;
  }
}